*.a
*.bin
*.hex
*.map
*.png
*.log
*.elf
*.zip
*.d
*.o
*.e
*.ihex
*.pyc
*~
obj_*
Makefile.target
Makefile.*.defines
tools/doxygen/html
tools/readthedocs/_build
patches-*
tools/serial-io/tunslip6
tools/serial-io/serialdump
serialdump-*
build
tools/coffee-manager/build/
tools/coffee-manager/coffee.jar
COOJA.testlog

# platform build artifacts
*.cc2538dk
*.cooja
*.jn516x
*.native
*.nrf52dk
*.openmote-cc2538
*.sky
*.firmware
*.srf06-cc26xx
*.zoul

# do not ignore platform makefiles
!Makefile.cc2538dk
!Makefile.cooja
!Makefile.jn516x
!Makefile.native
!Makefile.nrf52dk
!Makefile.openmote-cc2538
!Makefile.sky
!Makefile.srf06-cc26xx
!Makefile.zoul

# other nRF52 build artifacts
*.jlink

#test artifacts
*.testlog
*.scriptlog
*.coojalog
*.summary
*.err
summary
tests/[0-9][0-9]-*/org/
tests/18-coap-lwm2m/Californium.properties
tests/18-coap-lwm2m/leshan-server-demo*.jar

# x86 UEFI files
cpu/x86/uefi/Makefile.uefi
cpu/x86/uefi/edk2
.vs/contiki-ng/v15/ipch/AutoPCH/ff7d8fa687e5b0c0/RFC.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/fc95b5178b60f8a4/PKARESOURCECC26XX.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/f6a699122b3c919f/EXTFLASH.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/f5316d7d03b8a7f1/UDMACC26XX.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/f364793e548d3bc9/DISPLAY.ipch
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/contiki-ng/v15/ipch/AutoPCH/f23a09b98d536cd1/SICSLOWPAN.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/f1ce88e8351a41db/RF-BLE-CMD.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/f187715ca913cbd1/TUN-BRIDGE.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/ef46bf7710a9124/BLE-HAL-CC26XX_OLD.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/ee1885b15aa046b5/CONTIKI-MAIN.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/ed0ddd73ed60b1ba/BOARD-PERIPHERALS.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/ea5d22c887a46dd4/CRYPTOCC26XX.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/e9aec0a1ad2175d2/EMPTY.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/e914e2ce104b735/BOARD.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/e8d8ed55795b099d/BUTTON.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/e54b1307b272f8c1/GPIO-HAL-ARCH.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/e1f5ba099b5b5a05/CC13XX-CC26XX-DEF.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/df5f1c14c380d7b2/RF-CORE.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/dcd63b1839563db9/DISPLAY.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/db690f9ac254b2ab/RF-CORE.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/d7beb24ac7db6478/SETUP_ROM.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/d72baa758090934/ADCBUFCC26XX.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/d65ce9d428690ef6/CC26XX-UART.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/d5cb6d86a51c2ecc/ADCCC26XX.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/d44ba332ec6827d/RANDOM.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/d234e3ea9987f881/DISPLAYSHARP.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/cc6e1910127907b8/TIMERTEST.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/ca1dc21124c32695/UIP-ND6.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/c8cd4918c0ca63d7/SPRINTF.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/c892c1ea6f136063/DISPLAYUART.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/c69d01ce729b6cbb/BLE-ADDR.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/c51a04bfe2ea88ae/CLIENT.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/c281b5ef70cd3d07/BOARD.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/c25c53ef70ad7a44/BOARD.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/c25b38c5b93f18a4/NETSTACK.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/c1e5f3983873e779/MAC.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/c1ada57ac97015e6/BLE-CC2650.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/c04b906394c2633a/RF-BLE.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/be4561720556ccfb/IP64-SLIP-INTERFACE.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/bc9b242db4eddc56/BORDER-ROUTER.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/bb3f86377f1cbd42/LEDS-ARCH.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/ba59f87bac99dcf1/CLIENT.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/b925d9f8a281b5df/TI-LIB-ROM.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/b4959228c622665c/UART.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/afcecc9415381e48/GPIO-HAL-ARCH.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/af1cf57d8211162a/COMMON-CONF.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/ad3f38892dba0453/BOARD.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/ad08a05073e76fa5/CRYPTORESOURCECC26XX.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/ab5ad9a96f4d8dbb/IEEE-MODE.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/aad78e59f7cf4fb3/STARTUP_GCC.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/aa7ce6505d60de45/CLIENT.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/a97619e3bbbe6df4/INT-MASTER.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/a858208a1aa567b8/RPL-BORDER-ROUTER.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/a847228a1a96f7eb/RPL-BORDER-ROUTER.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/a6e32640244be72f/RTIMER-ARCH.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/a6d911690a7604a/TI-LIB.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/a578ca15c0769d33/SPI-ARCH.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/a4c4228ccee7acf7/DBG.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/a282923e80d335a3/BLE-L2CAP.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/a126feb9c1b9d48c/UIP-DS6-ROUTE.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/a05e4235b895c04a/CHIPINFO.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/9fb96b9057f809ac/IP64-ETH-INTERFACE.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/9fb8e5cb57d903cc/UARTCC26XX.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/9ec896c0eb8e158d/IOC.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/989e044dd0a487b4/BLE-HAL-CC26XX.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/9009d6bc9b695f70/IP64.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/8ff30340d2ab5dc5/CC26X0R2F-DEF.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/8fd5d383c6b21b6f/INT-MASTER (2).ipch
.vs/contiki-ng/v15/ipch/AutoPCH/8f666266706eba29/TUNSLIP6.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/8f5d0430cf5ffbae/LPM.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/8b934d688be07426/BLE-MAC.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/8a8dffd59f46cecb/NODE.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/884de89a34741f45/CENTRAL.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/8226f682897cb4e6/UDP-SERVER.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/810de01f78ef42f8/UIP-DS6.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/7fd857c2d0c3f9f0/SYS_CTRL.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/7f7f72bbd5643204/STARTUP_GCC.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/7f15a5be2f84445/CCXXWARE-CONF.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/7df2fd15bc678f04/IEEE-ADDR.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/7aef61eaeaa6d345/BLE-HAL-CC26XX.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/74740ebe1d1d00d6/LINKADDR.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/743e0317ca74fe7e/SERVER.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/738f94df15fd8718/UIP-ICMP6.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/7331475d3d86200e/DBG.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/727a730f58f2d0f5/DISPLAYDOGM1286.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/7245693200ab6180/RPL.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/71ff790d9f10b2dd/CC26XX-DEMO.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/71e9bedacd4a4445/HELLO-WORLD.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/6f9f5313815d5d64/ADCBUFCC26XX.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/6dfde5e59c75039c/PINCC26XX.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/6b4dcd374f6a7cae/UART.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/6ae313dbcbc60a3f/SLIP-BRIDGE.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/6a5ab746835ca62/FAULT-HANDLERS.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/6a32a9e6951a2572/SPI-ARCH.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/66b95222b9fac8af/RPL-NEIGHBOR.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/6619732e47b71a5f/HELLO-WORLD.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/6190b3510db9b892/CONTIKI-NET.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/5d04cc3be51bb8fc/AESCCMCC26XX.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/5cd736d5e673cc3b/TI-LIB.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/5c3e795822bdcdcf/RPL-DAG.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/595c88b7a36c2eb5/UART.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/563d25c1a99bec0a/PLATFORM.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/55f92cb11eb3e2e/TI-LIB-ROM.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/55d4828e49efb3fe/CLOCK.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/5481ab9708a657a9/SYS_CTRL.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/53425b3242bad774/BOARD.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/525cc0c2faf2a1a5/IOC.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/4ff681b18635dc43/PLATFORM.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/4fe50715c6394b41/SYS_CTRL.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/4e7ad16c578d8f4a/PLATFORM.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/4e472368ebb1594b/CC2640R2_LAUNCHXL.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/4db558db6cbe37fa/BLE-ADDR.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/4c2969b5fb158d42/IEEE-MODE.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/4b53b23da1220d2f/CC26XX-UART.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/4aa7fa9599787fb9/RFC.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/463656afce3e2f97/LPM.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/455148cfc16f8ec5/SLIP-ARCH.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/44adef8436e414b3/FAULT-HANDLERS.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/409b784788ea7586/ECDHCC26X2.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/4061edab6d43110/CONTIKI.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/3fff5760f6c25a7/BLE-CC2650.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/3ff191f36ee3ab0b/UIP-DS6-NBR.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/3381f15c9d159753/DISPLAYUART.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/3212e5cbb2de70b7/CLOCK.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/312cba10d0196cea/RF-BLE-CMD.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/30e90732e2942322/BLE-CORE.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/2dbf56f2c3b622aa/UDP-CLIENT.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/2bbf4bef7699303c/ADCCC26XX.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/2a52230b2a8e8a9e/TCPIP.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/28e151a9dfd579cc/PINCC26XX.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/273733c0f4178eec/AESCCMCC26XX.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/272cb43680073e4b/RF-BLE.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/26f19df7289f427b/BOARD-PERIPHERALS.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/24ff6e84e5b34723/LEDS-ARCH.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/21909b02bd1310cc/CCXXWARE-CONF.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/215df9a12eaf6b01/ADC-SENSOR.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/2055d741e218f881/XMEM.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/20448e361cc63ace/BOARD-PERIPHERALS.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/1fecb3c8265bb846/RTIMER-ARCH.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/1d00acf4966ab291/PLATFORM.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/197862ecc43d2d25/CC1200.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/1875fe1df74dbc16/LEDS-ARCH.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/16f52c2196a38cc1/DISPLAYHOST.ipch
.vs/contiki-ng/v15/Browse.VC.db
.vs/contiki-ng/v15/.suo
.DS_Store
examples/platform-specific/cc2640r2/ble-ipv6/client.c
examples/platform-specific/cc2640r2/ble-ipv6/Makefile
examples/platform-specific/cc2640r2/ble-ipv6/project-conf.h
examples/platform-specific/cc2640r2/ble-ipv6/README.md
examples/platform-specific/cc2640r2/cc26xx-ble-client-demo/client.c
examples/platform-specific/cc2640r2/cc26xx-ble-client-demo/Makefile
examples/platform-specific/cc2640r2/cc26xx-ble-client-demo/project-conf.h
examples/platform-specific/cc2640r2/cc26xx-ble-client-demo/README.md
examples/platform-specific/cc2640r2/cc26xx-ble-server-demo/Makefile
examples/platform-specific/cc2640r2/cc26xx-ble-server-demo/project-conf.h
examples/platform-specific/cc2640r2/cc26xx-ble-server-demo/README.md
examples/platform-specific/cc2640r2/cc26xx-ble-server-demo/server.c
examples/platform-specific/cc2640r2/cc26xx-web-demo/cc26xx-web-demo.c
examples/platform-specific/cc2640r2/cc26xx-web-demo/cc26xx-web-demo.h
examples/platform-specific/cc2640r2/cc26xx-web-demo/cetic-6lbr-client.c
examples/platform-specific/cc2640r2/cc26xx-web-demo/coap-server.c
examples/platform-specific/cc2640r2/cc26xx-web-demo/coap-server.h
examples/platform-specific/cc2640r2/cc26xx-web-demo/httpd-simple.c
examples/platform-specific/cc2640r2/cc26xx-web-demo/httpd-simple.h
examples/platform-specific/cc2640r2/cc26xx-web-demo/Makefile
examples/platform-specific/cc2640r2/cc26xx-web-demo/mqtt-client.c
examples/platform-specific/cc2640r2/cc26xx-web-demo/mqtt-client.h
examples/platform-specific/cc2640r2/cc26xx-web-demo/net-uart.c
examples/platform-specific/cc2640r2/cc26xx-web-demo/net-uart.h
examples/platform-specific/cc2640r2/cc26xx-web-demo/project-conf.h
examples/platform-specific/cc2640r2/cc26xx-web-demo/README.md
examples/platform-specific/cc2640r2/cc26xx-web-demo/resources/res-ble-advd.c
examples/platform-specific/cc2640r2/cc26xx-web-demo/resources/res-device.c
examples/platform-specific/cc2640r2/cc26xx-web-demo/resources/res-leds.c
examples/platform-specific/cc2640r2/cc26xx-web-demo/resources/res-net.c
examples/platform-specific/cc2640r2/cc26xx-web-demo/resources/res-sensors.c
examples/platform-specific/cc2640r2/cc26xx-web-demo/resources/res-toggle-leds.c
examples/platform-specific/cc2640r2/hello-world/hello-world.c
examples/platform-specific/cc2640r2/hello-world/Makefile
examples/platform-specific/cc2640r2/hello-world/project-conf.h
examples/platform-specific/cc2640r2/hello-world/README.md
examples/platform-specific/cc2640r2/very-sleepy-demo/Makefile
examples/platform-specific/cc2640r2/very-sleepy-demo/project-conf.h
examples/platform-specific/cc2640r2/very-sleepy-demo/README.md
examples/platform-specific/cc2640r2/very-sleepy-demo/very-sleepy-demo.c
.vs/contiki-ng/v15/ipch/AutoPCH/9810b5d120fa784d/PWR_CTRL.ipch
.vs/contiki-ng/v15/ipch/AutoPCH/b4cd2a270435e9a5/PWR_CTRL.ipch
CHANGES.txt
